---
title: "Welcome to the Twillot Family!"
preheader: "Your 30-Day Free Trial Awaits!"
bodyClass: bg-gray-100 dark-mode:bg-gray-999
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p class="text-2xl sm:leading-32 text-black dark-mode:text-white font-semibold m-0 mb-36 font-serif">
      Your 30-Day Free Trial Awaits!
    </p>
    <p class="m-0 mb-24">
      Welcome to the Twillot family! 
      </p>
    <p class="m-0 mb-24">
      🎉 We are absolutely thrilled to have you on board. 
      Your 30-day free trial has officially begun, and we can't wait for you to experience the powerful features and convenience that Twillot offers.
      Here is your License Key: 
    </p>
    <p class="m-0 mb-24">
      License Key: [LICENSE-KEY]
    </p>
    <p class="m-0 mb-24">
      That's it! Now you can enjoy all the amazing features Twillot has to offer. 
      </p>
      <p class="m-0 mb-24">
      If you encounter any issues or need assistance, please don't hesitate to reach out to our support team at support@twillot.com.
      We're here to help you every step of the way.
    </p>
    <p class="m-0 mb-24">Thank you once again for choosing Twillot. </p>
    <p class="m-0 mb-24">
    We look forward to this exciting journey together and hope that Twillot will bring more convenience and joy to your daily tasks.
    </p>
    <p class="m-0 mb-24">
    Let's make this journey amazing!
    </p>
    <p class="m-0 mb-24">
      Warm regards, <br/>
      The Twillot Team
    </p>
    <table class="w-full">
      <tr>
        <td class="py-32">
          <hr class="border-gray-100 border-b-0" />
        </td>
      </tr>
    </table>
  </block>
</extends>
