<table class="w-full font-sans">
    <tr>
      <td class="text-center text-gray-600 text-xs px-24">
        <p class="m-0 mb-4 uppercase">Powered by
          <a href="https://twillot.com/?utm_source=email_footer" class="text-blue-500 no-underline hover:underline">Twillot</a>
        </p>
        <p class="m-0 italic">An X/Twitter Copilot</p>
        <p class="cursor-default">
          <a href="https://dub.sh/7ubLVdF?utm_source=email_footer" class="text-blue-500 no-underline hover:underline">Docs</a> &bull;
          <a href="https://twillot.com/blog/?utm_source=email_footer" class="text-blue-500 no-underline hover:underline">Extension</a> &bull;
          <a href="https://x.com/SiZapPaaiGwat" class="text-blue-500 no-underline hover:underline">X/Twitter</a>
        </p>
      </td>
    </tr>
</table>